body {
  margin: 0;
  background-color: black;
  color: white;
}

#root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
